<article class="card">
  <!-- debemos agregar routerModule -->
  <a
    class="card__kink"
    [routerLink]="['character-details', character.id]"
    routerLinkActive="router-link-active"
  ></a>
  <figure>
    <img
      rel="preload"
      as="image"
      width="300"
      height="300"
      [src]="character.image"
      [alt]="character.name"
    />
  </figure>
  <div class="card__details">
    <figure class="card__favorite">
      <img
        (click)="toggleFavorite()"
        rel="preload"
        as="image"
        width="30"
        height="30"
        src="{{ 'assets/imgs/' + getIcon() }}"
      />
    </figure>
    <h3>{{ character.name }}</h3>
    <ul class="card__list">
      <li>
        <label for="" class="table__label">Status</label>{{ character.status }}
      </li>
      <li>
        <label for="" class="table__label">Specie</label>{{ character.species }}
      </li>
      <li>
        <label for="" class="table__label">Gender</label>{{ character.gender }}
      </li>
    </ul>
  </div>
</article>
